#map {
    height: 100vh; /*was 100%*/
}
      
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    font-size: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

h1, h2 {
	font-family: 'Rubik', sans-serif;
}

#contact-popup {
    color: #fff;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

#contact-popup .row {
    height: 100vh;
}

#contact-popup .box {
    border-radius: 18px 18px 0 18px;
    background: #000;
    padding: 15px;
    position: relative;
}

#contact-popup h2 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 1.7rem;
}

#contact-popup p {
    margin-bottom: 0;
}

#contact-popup p:nth-child(2) {
    font-weight: 700;
}

#contact-popup p:nth-child(5) {
    margin-bottom: 20px;
}

#contact-popup .separator {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px 0 10px 0;
}

#close-popup {
    color: #000;
    background: #fff;
    margin-top: 25px;
    border: 1px solid #fff;
    border-radius: 5px 0 5px 5px;
    padding: 5px;
    width: 75px;
    text-align: center;
    position: absolute;
    right: 0;
    transition: opacity 0.2s ease-in-out;
    font-size: 1.4rem;
}

#close-popup:hover {
    opacity: 0.5;
}

.main {
    position: relative;
}

.header > * {
    background: #000;
    position: fixed;
    z-index: 5;
    padding: 5px 5px;
    border-radius: 8px;
    margin: 5px 0 0 5px;
}

.header h1 {
    color: #fff;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 700;
}

.header .icon {
    margin-right: 8px;
}

.text-contact {
    color: #FFBAEA;
	font-style: italic;
}

.text-tracing {
    color: rgb(255, 230, 225);
    margin-left: -3px;
	font-style: italic;
}

@media only screen and (max-width: 576px) {
    .header > * {
    	margin-top: 5px;
    }

    .header h1 {
    	font-size: 1rem;
    }
}